USE [cursed]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[IdComponent] [int] NOT NULL,
	[ComponentModel] [nvarchar](max) NOT NULL,
	[ComponentPrice] [decimal](19, 2) NOT NULL,
	[ComponentAmount] [int] NOT NULL,
	[ComponentArticle] [nvarchar](50) NOT NULL,
	[ComponentManufacturerId] [int] NOT NULL,
	[ComponentTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
(
	[IdComponent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentTypes]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTypes](
	[IdComponentType] [int] IDENTITY(1,1) NOT NULL,
	[ComponentTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ComponentTypes] PRIMARY KEY CLUSTERED 
(
	[IdComponentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computer_Component_Relationship]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computer_Component_Relationship](
	[PC_Comp_RelationId] [int] IDENTITY(1,1) NOT NULL,
	[ComputerId] [int] NOT NULL,
	[ComponentId] [int] NOT NULL,
 CONSTRAINT [PK_Computer_Component_Relationship] PRIMARY KEY CLUSTERED 
(
	[PC_Comp_RelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[ComputerId] [int] IDENTITY(1,1) NOT NULL,
	[ComputerName] [nvarchar](50) NOT NULL,
	[ComputerTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Computers] PRIMARY KEY CLUSTERED 
(
	[ComputerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComputerTypes]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerTypes](
	[IdComputerType] [int] IDENTITY(1,1) NOT NULL,
	[ComputerTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ComputerTypes] PRIMARY KEY CLUSTERED 
(
	[IdComputerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[IdManufacturer] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[IdManufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MasterId] [int] NOT NULL,
	[OrderDescription] [nvarchar](300) NOT NULL,
	[ComponentId] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[OrderExecDate] [date] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[IdOrderStatus] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[IdOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.04.2024 21:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Components] ([IdComponent], [ComponentModel], [ComponentPrice], [ComponentAmount], [ComponentArticle], [ComponentManufacturerId], [ComponentTypeId]) VALUES (1, N'Ryzen 5 3600', CAST(5000.00 AS Decimal(19, 2)), 5347, N'100-000000031', 1, 1)
INSERT [dbo].[Components] ([IdComponent], [ComponentModel], [ComponentPrice], [ComponentAmount], [ComponentArticle], [ComponentManufacturerId], [ComponentTypeId]) VALUES (2, N'Ryzen Threadripper PRO 5995WX', CAST(654328.00 AS Decimal(19, 2)), 23, N'100-000000444', 1, 1)
INSERT [dbo].[Components] ([IdComponent], [ComponentModel], [ComponentPrice], [ComponentAmount], [ComponentArticle], [ComponentManufacturerId], [ComponentTypeId]) VALUES (3, N'Core i9-10980XE', CAST(140654.00 AS Decimal(19, 2)), 13, N'BX8069510980XE-SRGSG', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[ComponentTypes] ON 

INSERT [dbo].[ComponentTypes] ([IdComponentType], [ComponentTypeName]) VALUES (1, N'Процессор')
INSERT [dbo].[ComponentTypes] ([IdComponentType], [ComponentTypeName]) VALUES (2, N'Материнская плата')
INSERT [dbo].[ComponentTypes] ([IdComponentType], [ComponentTypeName]) VALUES (3, N'Видеокарта')
SET IDENTITY_INSERT [dbo].[ComponentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Computer_Component_Relationship] ON 

INSERT [dbo].[Computer_Component_Relationship] ([PC_Comp_RelationId], [ComputerId], [ComponentId]) VALUES (1, 1, 1)
INSERT [dbo].[Computer_Component_Relationship] ([PC_Comp_RelationId], [ComputerId], [ComponentId]) VALUES (2, 1, 18)
INSERT [dbo].[Computer_Component_Relationship] ([PC_Comp_RelationId], [ComputerId], [ComponentId]) VALUES (3, 1, 20)
SET IDENTITY_INSERT [dbo].[Computer_Component_Relationship] OFF
GO
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([ComputerId], [ComputerName], [ComputerTypeId]) VALUES (1, N'Destroyer ', 1)
INSERT [dbo].[Computers] ([ComputerId], [ComputerName], [ComputerTypeId]) VALUES (2, N'TechnoMage', 1)
INSERT [dbo].[Computers] ([ComputerId], [ComputerName], [ComputerTypeId]) VALUES (3, N'DigitalDragon', 1)
SET IDENTITY_INSERT [dbo].[Computers] OFF
GO
SET IDENTITY_INSERT [dbo].[ComputerTypes] ON 

INSERT [dbo].[ComputerTypes] ([IdComputerType], [ComputerTypeName]) VALUES (1, N'Стационарные Игровые')
INSERT [dbo].[ComputerTypes] ([IdComputerType], [ComputerTypeName]) VALUES (2, N'Стационарные Офисные')
INSERT [dbo].[ComputerTypes] ([IdComputerType], [ComputerTypeName]) VALUES (3, N'Стационарные Професиональные')
SET IDENTITY_INSERT [dbo].[ComputerTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([IdManufacturer], [ManufacturerName]) VALUES (1, N'AMD')
INSERT [dbo].[Manufacturers] ([IdManufacturer], [ManufacturerName]) VALUES (2, N'Intel')
INSERT [dbo].[Manufacturers] ([IdManufacturer], [ManufacturerName]) VALUES (3, N'Asrock')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([IdOrderStatus], [OrderStatusName]) VALUES (1, N'В работе')
INSERT [dbo].[OrderStatuses] ([IdOrderStatus], [OrderStatusName]) VALUES (2, N'Выполнен')
INSERT [dbo].[OrderStatuses] ([IdOrderStatus], [OrderStatusName]) VALUES (3, N'Ожидание комплектующих')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (2, N'Master')
INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [LastName], [FirstName], [Patronymic], [Email], [Login], [Password], [RoleId]) VALUES (1, N'Админ', N'Админович', N'Админов', N'admin@example.com', N'admin', N'admin', 1)
INSERT [dbo].[Users] ([IdUser], [LastName], [FirstName], [Patronymic], [Email], [Login], [Password], [RoleId]) VALUES (2, N'Мастер', N'Мастерович', N'Мастеров', N'master@example.com', N'master', N'master', 2)
INSERT [dbo].[Users] ([IdUser], [LastName], [FirstName], [Patronymic], [Email], [Login], [Password], [RoleId]) VALUES (3, N'Менеджер', N'Менеджерович', N'Менеджеров', N'manager@example.com', N'manager', N'manager', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Components_ComponentTypes] FOREIGN KEY([ComponentTypeId])
REFERENCES [dbo].[ComponentTypes] ([IdComponentType])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Components_ComponentTypes]
GO
ALTER TABLE [dbo].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Components_Manufacturers] FOREIGN KEY([ComponentManufacturerId])
REFERENCES [dbo].[Manufacturers] ([IdManufacturer])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Components] CHECK CONSTRAINT [FK_Components_Manufacturers]
GO
ALTER TABLE [dbo].[Computer_Component_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Computer_Component_Relationship_Components] FOREIGN KEY([ComponentId])
REFERENCES [dbo].[Components] ([IdComponent])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computer_Component_Relationship] CHECK CONSTRAINT [FK_Computer_Component_Relationship_Components]
GO
ALTER TABLE [dbo].[Computer_Component_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Computer_Component_Relationship_Computers] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([ComputerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computer_Component_Relationship] CHECK CONSTRAINT [FK_Computer_Component_Relationship_Computers]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computers_ComputerTypes] FOREIGN KEY([ComputerTypeId])
REFERENCES [dbo].[ComputerTypes] ([IdComputerType])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computers_ComputerTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Components] FOREIGN KEY([ComponentId])
REFERENCES [dbo].[Components] ([IdComponent])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Components]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatuses] ([IdOrderStatus])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([IdUser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([IdRole])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
